@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Open Sans", sans-serif;
    color: black;
}
.container{
    max-width: 1156px;
    margin: 0 auto;
    padding: 0 15px;
}

header{
    background-image: url(img/bgimage.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 144px;
    
}

.header-li{
    float: right;
    padding-left: 35px;

}

.header-li a{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.header-li:first-child{
    padding: 0;
}

/*выпадающее меню*/

#lang{
    background: none;
    -webkit-appearance: menulist-button;
    color: white;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#lang option{
    background-color: #000000BF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    
}


  select:invalid {
    color: green;
  }


.logo a img{
    width: 54px;
}

.menu-ul{
    display: flex;
}



.menu-svg img:last-child{
    padding-left: 17px;
}

.menu-svg{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.svg-img{
    padding-left: 60px;
}

.mid-text{
    margin-top: 168px;
    align-items: center;
}

.mid-text h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 80px;
    letter-spacing: 3px;
}

.mid-text h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.mid-btn{
    margin-top: 28px;
    width: 260px;
    height: 60px;
    background:  linear-gradient(217deg,rgba(255, 181, 72, 1), rgba(243, 175, 52, 1) 70.71%);
    border-radius: 5px;
    border-color: rgba(26, 25, 23, 1);
    border-width: thin;
    text-align: center;
    cursor: pointer;
    
}

.mid-btn span{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    color: rgba(26, 25, 23, 1);
    float: left;
    padding-left: 18px;
    
}

.mid-btn span{
    
}
