@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Open Sans", sans-serif;
    color: rgb(29, 27, 27);
    background-color: rgb(20, 20, 20);
}
.container{
    max-width: 1156px;
    margin: 0 auto;
    padding: 0 15px;
}

header{
    background-image: url(img/bgimage.jpg);
    min-height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    
}

.header-li{
    float: right;
    padding-left: 50px;

}

.header-li a{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.header-li:first-child{
    
}

/*выпадающее меню*/

#lang{
    background: none;
    -webkit-appearance: menulist-button;
    color: white;
    
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#lang option{
    background-color: #000000BF;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    
}


  select:invalid {
    color: green;
  }


.logo a img{
    width: 54px;
}

.menu-ul{
    display: flex;
}



.menu-svg img:last-child{
    padding-left: 17px;
}

.menu-svg{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.svg-img{
    padding-left: 0px;
}

.mid-text{
    margin-top: 192px;
    align-items: center;
}

.mid-text h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #FFFFFF;
    line-height: 80px;
    letter-spacing: 3px;
}

.mid-text h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.mid-btn{
    margin-top: 28px;
    width: 260px;
    height: 60px;
    background:  linear-gradient(217deg,rgba(255, 181, 72, 1), rgba(243, 175, 52, 1) 70.71%);
    border-radius: 5px;
    border-color: rgba(26, 25, 23, 1);
    border-width: thin;
    text-align: center;
    cursor: pointer;
    
}

.mid-btn span{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.79px;
    color: rgba(26, 25, 23, 1);
    float: left;
    padding-left: 18px;
    
}

/*header arrow*/

.header-arrow{
    margin-top: 360px;
    align-items: center;
    cursor: pointer;
}


  
.arrow-7 {
    margin: 40px auto 10px auto;
    width: 38px;
    height: 100px;
}
.arrow-7 span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    transform: rotate(45deg);
    margin: -16px 0;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: translate(0,-20px) rotate(45deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,20px) rotate(45deg);
    }
}


.main{
    background-image: url(img/bgimage2.png);
    min-height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    background-position: center;
}